
        body{
            background-color: black;
            margin-top: 150px; 
        }
        .navBar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: black;
      color: white;
      padding: 10px 20px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      z-index: 1000;
    }

    .navleft {
      display: flex;
      align-items: center;
    }

    .navleft img {
      height: 40px;
      margin-right: 8px;
    }

    .navleft h3 {
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif;
    }

    .navmiddle {
      flex-grow: 1;
      margin: 0 20px;
      align-items: center;
      
    }

    .search {
      width: 95%;
      max-width: 380px;
      padding: 6px 12px;
      border-radius: 20px;
      border: 1px solid #888;
      font-size: 14px;
    }

    .navright {
      display: flex;
      justify-content: space-evenly;
    }

    .navright a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      transition: color 0.3s;
      font-family: ansizar serif;
      font-style: bold;
      margin: 1px 40px;
    }

    .navright a:hover {
      color: red;
    }

    .hamburger {
      display: none;
      font-size: 28px;
      cursor: pointer;
      background: none;
      border: none;
      color: white;
      margin-right: 25px;
      padding: 0 20px;
    }

    #menu-toggle {
      display: none;
    }

    /* Responsive */
    @media (max-width: 768px) {
      .navright {
        display: none;
        flex-direction: column;
        background-color: black;
        width: 100%;
        overflow: auto;
        position: absolute;
        top: 70px;
        left: 0;
        
        
      }
      .navBar a{
        float: none;
        margin: auto;
        text-align: center;
      }

      .hamburger {
        display: block;
      }

      #menu-toggle:checked ~ .navright{
        display: flex;
      }
    }


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 100px 50px;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-left {
    flex: 1;
    padding-right: 40px;
}

.hero-left h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-left p {
    font-size: 20px;
    margin-bottom: 30px;
}

.hero-btn {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.hero-btn:hover {
    background-color: darkred;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending-section {
    color: white;
    padding: 50px;
    text-align: center;
    font-family: "Ancizar Serif", serif;
}

.trending-section h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: red;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 40px;
    color: #aaa;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.movie-card {

    background-color: #1e1e1e;
    width: 250px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: transform 0.03s;
}

.movie-card:hover {
    transform: scale(1.07);
}

.movie-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card-info {
    padding: 15px;
    text-align: left;
    position: relative;
}

.card-info h3 {
    margin: 10px 0 5px;
}

.card-info p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 35px;
}

.card-info a{
    color: red;
}
.duration {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 12px;
    color: #ff6b6b;
}

.watch-btn, .watchlist-btn {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 15px;
    padding: 6px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
}

.watchlist-btn {
    left: auto;
    right: 15px;
    background-color: white;
    color: black;
}

.movie-card:hover .watch-btn,
.movie-card:hover .watchlist-btn {
    display: inline-block;
}


html {
  scroll-behavior: smooth;
}

footer{
    background-color: #111;
    color: white;
    position: relative;
    padding: 20px 20px;
    text-align: center;
}

/* Social Icons Hover */
footer a img:hover {
  filter: brightness(0.7);
  transform: scale(1.1);
  transition: 0.3s ease;
}

footer a img{
    width: 30px;
    height: 30px;
    transition: filter 0.3s ease;
}

/* Back-to-top hover */
.back-to-top:hover {
  background-color: #444;
  transition: 0.3s ease;
}

/* svg animation */
.svg-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clapper-top {
  transform-origin: bottom center;
  animation: clapperMove 2s ease-in-out infinite;
}

@keyframes clapperMove {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-40deg);
  }
}
